@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<AppUser>

<div class="card-header">
    <h3 class="card-title mb-2">Danh sách tài khoản người dùng</h3>

    <div class="card-body">
        <table class="table table-bordered">
            <thread>
                <tr>
                    <th>STT</th>
                    <th>Ảnh dại diện</th>
                    <th>Họ tên người dùng</th>
                    <th>Tình trạng</th>
                    <th>Xác nhận Email</th>
                    <th>Số điện thoại/Email</th>
                    <th>Số đơn hàng đã mua</th>
                </tr>
            </thread>
            <tbody>
                @if(Model?.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr id="trow_@item.Id">
                            <td>@(++ViewBag.UsersIndex)</td>
                            <td><img src="/Contents/@ViewBag.folderImage/@item.Avata" style="width: 80px;" alt="" /></td>
                            <td>@item.FullName</td>
                            <td>@(item.LockoutEnd == null ? "Hoạt động" : "Bị Khóa")</td>
                            <td>@(item.EmailConfirmed == true ? "Đã xác nhận" : "Chưa xác nhận")</td>
                            <td>
                                @item.PhoneNumber<br />
                                @item.Email
                            </td>
                            <td>@item.OrdersCount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<partial class="mt-4" name="_PagingXTL" model="@ViewBag.pagingModel">