@using BangHang.Models.Blog
@model Category


@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-action="Index" asp-controller="Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Danh mục</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chỉnh sửa</a>
        </li>
    </ul>
}



    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm mới danh mục</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Chỉnh sửa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chỉnh sửa danh mục</h3>
            </div>
            <div class="card-body">
                <div class="bs-stepper-content">

                    <div class="col-md-8">
                        <form asp-action="Edit">
                            <input type="hidden" asp-for="Id"/>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="CategoryParentID" class="control-label"></label>
                                <select asp-for="CategoryParentID" class="form-control" asp-items="ViewBag.CategoryParentID"></select>
                                <span asp-validation-for="CategoryParentID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Title" class="control-label"></label>
                                <input asp-for="@Model.Title" class="form-control" />
                                <span asp-validation-for="@Model.Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Slug" class="control-label"></label>
                                <input asp-for="@Model.Slug" class="form-control" />
                                <span asp-validation-for="@Model.Slug" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check">
                                <label class="form-check-label"></label>
                                <input asp-for="IsActive" class="form-check-input">@Html.DisplayNameFor(model => model.IsActive)</input>
                            </div>


                            <div class="form-group">
                                <label asp-for="@Model.DesCriptions" class="control-label"></label>
                                <textarea asp-for="@Model.DesCriptions" rows="5" class="form-control"></textarea>
                                <span asp-validation-for="@Model.DesCriptions" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="@Model.SeoTitle" class="control-label"></label>
                                <input asp-for="@Model.SeoTitle" class="form-control" />
                                <span asp-validation-for="@Model.SeoTitle" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.SeoDesCriptions" class="control-label"></label>
                                <input asp-for="@Model.SeoDesCriptions" class="form-control" />
                                <span asp-validation-for="@Model.SeoDesCriptions" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.SeoKeyword" class="control-label"></label>
                                <input asp-for="@Model.SeoKeyword" class="form-control" />
                                <span asp-validation-for="@Model.SeoKeyword" class="text-danger"></span>
                            </div>

                            <div class="form-group mt-2">
                                 <a asp-action="Index">Quay lại</a>
                                <input type="submit" value="Lưu" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
        <!-- /.card -->
    </section>


    @{
    var summernote1 = new App.Models.Summernote("#DesCriptions", true);
    var summernote2 = new App.Models.Summernote("#SeoDesCriptions", false);
}
<partial name="_PartialSummernote" model="@summernote1">
<partial name="_PartialSummernote" model="@summernote2">
