@{
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}

@*<!-- MenuTop -->
@RenderSection("MenuTop", false)*@
<body>
    <!-- Slider -->
@RenderSection("PostSale", false)

<!-- Banner -->
@RenderSection("CategoryProduct", false)

<!-- New Arrivals -->
@RenderSection("NewArrivals", false)

<!-- Deal of the week -->
@RenderSection("PostOutstanding", false)

<!-- Best Sellers -->
    @RenderSection("ProductsIsSale", false)



<!-- Blogs -->
@RenderSection("Blog", false)
</body>



