@{
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}

@*<!-- MenuTop -->
@RenderSection("MenuTop", false)*@
<body>
    <!-- Slider -->
@RenderSection("PostSale", false)

<!-- Banner -->
@RenderSection("CategoryProduct", false)

<!-- New Arrivals -->
@RenderSection("NewArrivals", false)

<!-- Deal of the week -->
@RenderSection("PostOutstanding", false)

<!-- Best Sellers -->
    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2>Best Sellers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @RenderSection("ProductsIsSale", false)
                </div>
            </div>
        </div>
    </div>


<!-- Blogs -->
@RenderSection("Blog", false)
</body>



