@using BangHang.Models.Product
@model CategoryPro
@{
    Layout = "/Views/Shared/_LayoutHome.cshtml";
    List<CategoryPro> categoriesPro = ViewBag.CategoriesPro as List<CategoryPro>;
    var products = ViewBag.products as List<Products>;
}

<link rel="stylesheet" type="text/css" href="~/lib/menu/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/lib/menu/styles/categories_responsive.css">
<script src="~/lib/menu/js/categories_custom.js"></script>

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-action="Index" asp-controller="Menu" asp-area="Menus">Home</a></li>
                    <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Title</a></li>
                </ul>
            </div>
            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Product Category</h5>
                    </div>
                    <ul class="sidebar_categories">
                        @foreach (var item in categoriesPro)
                        {
                            if (item.Slug == Model.Slug)
                            {
                                <li class="active">
                                    <a asp-action="Categories" asp-controller="Menu" asp-area="Menus" asp-route-slug="@item.Slug">
                                        <span>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        </span>@item.Title
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="">
                                    <a asp-action="Categories" asp-controller="Menu" asp-area="Menus" asp-route-slug="@item.Slug">
                                        <span>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        </span>@item.Title
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="main_content">
                <div class="products_iso">
                    <div class="row">
                        <div class="col">
                            <div class="product-grid">
                                @if (products?.Count > 0)
                                {
                                    @foreach (var item in products)
                                    {
                                        @if (item.PriceSale > 0)
                                        {
                                            <div class="product-item @String.Join(" ", item.ProductCategory.Select(pc => pc.Category.Slug))">
                                                <a asp-area="Menus" asp-action="ProductSingle" asp-controller="Menu" asp-route-id="@item.Id">
                                                    <div class="product discount product_filter">
                                                        <div class="product_image">
                                                            <img src="/Contents/Products/@item.ProductPhoto?.Select(p => p.Name).FirstOrDefault()" alt="">
                                                        </div>
                                                        <div class="favorite favorite_left"></div>
                                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>@item.SeoKeyword</span></div>
                                                        <div class="product_info">
                                                            <h6 class="product_name">@item.Title</h6>
                                                            <div class="product_price">@string.Format(new System.Globalization.CultureInfo("vi-VN",false), "{0:c0}", item.PriceSale)<span>@string.Format(new System.Globalization.CultureInfo("vi-VN",false), "{0:c0}", item.Price)</span></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="red_button add_to_cart_button btnAddToCart" data-id="@item.Id"><a href="#">Thêm vào giỏ hàng</a></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="product-item @String.Join(" ", item.ProductCategory.Select(pc => pc.Category.Slug))">
                                                <a asp-area="Menus" asp-action="ProductSingle" asp-controller="Menu" asp-route-id="@item.Id">
                                                    <div class="product product_filter">
                                                        <div class="product_image">
                                                            <img src="/Contents/Products/@item.ProductPhoto?.Select(p => p.Name).FirstOrDefault()" alt="">
                                                        </div>
                                                        <div class="favorite"></div>
                                                        <div class="product_info">
                                                            <h6 class="product_name"><a href="single.html">@item.Title</a></h6>
                                                            <div class="product_price"> <div class="original_price">@string.Format(new System.Globalization.CultureInfo("vi-VN",false), "{0:c0}", item.Price)</div></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="red_button add_to_cart_button btnAddToCart" data-id="@item.Id"><a href="#">Thêm vào giỏ hàng</a></div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







