@using BangHang.Models.Product
@model Products

@{
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/lib/menu/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/lib/menu/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/lib/menu/styles/single_responsive.css">

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-action="Index" asp-controller="Menu" asp-area="Menus">Home</a></li>
                    <li>
                        <a asp-area="Menus" asp-action="Categories" asp-controller="Menu" asp-route-slug="@Model.ProductCategory?.Select(c => c.Category?.Slug).FirstOrDefault()">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            @Model.ProductCategory?.Select(c => c.Category?.Title).FirstOrDefault()
                        </a>
                    </li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Title</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            <ul>
                                @if (Model.ProductPhoto?.Count > 0)
                                {
                                    foreach (var item in Model.ProductPhoto)
                                    {
                                        <li class="active"><img src="/Contents/Products/@item.Name" alt="" data-image="(/Contents/Products/@item.Name"></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url(/Contents/Products/@Model.ProductPhoto.Select(c => c.Name).FirstOrDefault()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>@Model.Title</h2>
                    <p>@Model.DesCriptions</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                @if (Model.PriceSale > 0)
                {
                    <div class="original_price">@string.Format(new System.Globalization.CultureInfo("vi-VN",false), "{0:c0}", Model.Price)</div>
                    <div class="product_price">@string.Format(new System.Globalization.CultureInfo("vi-VN",false), "{0:c0}", Model.PriceSale)</div>
                }
                else
                {
                    <div class="original_price">@string.Format(new System.Globalization.CultureInfo("vi-VN",false), "{0:c0}", Model.Price)</div>
                }

                <ul class="star_rating">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
                <div class="product_color">
                    <span>Select Color:</span>
                    <ul>
                        <li style="background: #e54e5d"></li>
                        <li style="background: #252525"></li>
                        <li style="background: #60b3f3"></li>
                    </ul>
                </div>
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                    <span>Quantity:</span>
                    <div class="quantity_selector">
                        <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span id="quantity_value">1</span>
                        <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                    <div class="red_button btnAddToCart" data-id="@Model.Id"><a href="#">Thêm vào giỏ hàng</a></div>
                    <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tabs -->

<div class="tabs_section_container">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabs_container">
                    <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                        <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                        <li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Tab Description -->

                <div id="tab_1" class="tab_container active">
                    <div class="row">
                        <div class="col-lg-12 desc_col">
                            <div class="tab_title">
                                <h4>Description</h4>
                            </div>
                            <div class="tab_text_block">
                                <h2>@Model.Title</h2>
                                 <p>@Model.DesCriptions</p>
                            </div>

                            @if (Model.ProductPhoto?.Count > 0)
                            {
                                <div class="row col-sm-12" id="ImageCurrent">
                                    @foreach (var item in Model.ProductPhoto.ToList())
                                    {

                                        <div class="col-5 m-2" id="ImageDelete_@item.Id">
                                            <img src="/Contents/Products/@item.Name" alt="Image description" style="width:400px" />
                                        </div>
                                    }
                                </div>
                            }
                            <div class="tab_text_block">
                                <h2>Chi tiết</h2>
                                <p>@Html.Raw(Model.Contents)</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
