@model BangHang.Models.Blog.Post

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-action="Index" asp-controller="Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Bài viết</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết</a>
        </li>
    </ul>
}



    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin bài viết</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Chi Tiết</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông tin bài viết</h3>
            </div>
            <div class="card-body">
                <div class="bs-stepper-content">

                    <div class="col-md-8">
                        <div>
                            <dl class="row">
                                
                                <dt class="col-sm-2">Danh mục</dt>
                                <dd class=col-sm-10>@String.Join(", ", Model.PostCategory.Select(c => c.Category.Title))</dd>
                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
                                <dd class=col-sm-10>@Html.DisplayFor(model => model.Title)</dd>
                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Slug)</dt>
                                <dd class="col-sm-10">@Html.DisplayFor(model => model.Slug)</dd>
                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.IsHot)</dt>
                                <dd class="col-sm-10">@Html.DisplayFor(model => model.IsHot)</dd>
                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.IsActive)</dt>
                                <dd class="col-sm-10">@Html.DisplayFor(model => model.IsActive)</dd>

                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Image)</dt>
                                <dd class="col-sm-10">
                                    <img src="~/Contents/Posts/@Model.Image" style="width: 200px; height: 200px;"  alt=""/>
                                    </dd>

                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DesCriptions)</dt>
                                <dd class="col-sm-10">@Html.DisplayFor(model => model.DesCriptions)</dd>

                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Contents)</dt>
                                <dd class="col-sm-12">@Html.Raw(Model.Contents)</dd>

                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DateCreate)</dt>
                                <dd class="col-sm-10">@Html.DisplayFor(model => model.DateCreate)</dd>
                                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DateUpdate)</dt>
                                <dd class="col-sm-10">@Html.DisplayFor(model => model.DateUpdate)</dd>

                            </dl>
                            <a asp-action="Index" class="btn btn-primary m-4">Trang chủ</a>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Chỉnh sửa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
        <!-- /.card -->
    </section>

